@model EALScreeningTool.Models.Project

@{
    ViewData["Title"] = "Project Details";
}
<h1>Project Details</h1>

<div class="card">
    <div class="card-block">
        <h4 class="card-title">Project Name: @Html.DisplayFor(model => model.ProjectName) </h4>
        <h6 class="card-subtitle mb-2 text-muted">Client Name: @Html.DisplayFor(model => model.ClientName)</h6>
        <p class="card-text">Site Name: @Html.DisplayFor(model => model.SiteName)</p>
        <p class="card-text">Site Address: @Html.DisplayFor(model => model.SiteAddress)</p>
        <p class="card-text">TMK: @Html.DisplayFor(model => model.TMK)</p>
        <h6>Project Site Scenario</h6>
        <p class="card-text">Land Use: @Html.DisplayFor(model => model.LandUse)</p>
        <p class="card-text">Groundwater Utility: @Html.DisplayFor(model => model.GWUtility)</p>
        <p class="card-text">Distance to Nearest Surface Water Body: @Html.DisplayFor(model => model.DistanceToWB)</p>
        <p class="card-text"><small>Created By: @Html.DisplayFor(model => model.User.Email)</small></p>

        <p class="card-text"><small class="text-muted">@Html.ActionLink("Edit", "Edit", new { projectId = Model.ProjectId }) | @Html.ActionLink("Delete", "Delete", new { projectId = Model.ProjectId })</small></p>
     </div>
</div>